<% layout('layouts/boilerplate') %>
<div class="container mt-5 mb-5"><h1>Combating Discrimination</h1><p class="lead">Building an inclusive community for all</p><p>We have zero tolerance for discrimination and are committed to ensuring equal access for everyone.</p></div>
