<% layout('layouts/boilerplate') %>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">Company Details</h1>
            <p class="lead mb-5">WanderLust Inc. - Connecting travelers worldwide</p>
            
            <h3 class="text-center mb-4">Contact Information</h3>
            
            <div class="row">
                <div class="col-md-6 mb-4">
                   <!--<h5>Company Information</h5>-->
                    <ul class="list-unstyled text-start">
                        <li><strong>Company Name:</strong> WanderLust Inc.</li>
                        <li><strong>Founded:</strong> 2024</li>
                        <li><strong>Headquarters:</strong> Assan, Jind</li>
                        <li><strong>CEO:</strong> Sanjana Devi</li>
                        <li><strong>Registration:</strong> DE123456789</li>
                    </ul>
                </div>
                <div class="col-md-6 mb-4">
                    <!--<h5>Contact Details</h5>-->
                    <ul class="list-unstyled text-start">
                        <li><strong>Email:</strong> <a href="mailto:sanjanash464@gmail.com">sanjanash464@gmail.com</a></li>
                        <li><strong>Phone:</strong> +91-9350222984</li>
                        <li><strong>Address:</strong> V.P.O. assan, Jind</li>
                        <li><strong>Support:</strong> <a href="/help">24/7 Help Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
