<% layout('layouts/boilerplate') %>
<div class="container mt-5 mb-5">
    <h1 class="display-4 mb-4">Sitemap</h1>
    <div class="row">
        <div class="col-md-3">
            <h4>Main Pages</h4>
            <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Listings</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Support</h4>
            <ul class="list-unstyled">
                <li><a href="/help">Help Center</a></li>
                <li><a href="/safety">Safety</a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Legal</h4>
            <ul class="list-unstyled">
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/company">Company</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Company</h4>
            <ul class="list-unstyled">
                <li><a href="/careers">Careers</a></li>
                <li><a href="/newsroom">News</a></li>
                <li><a href="/investors">Investors</a></li>
            </ul>
        </div>
    </div>
</div>
